# Copia este archivo como .env.local y rellena con tus datos de Supabase
# (Project Settings -> API Keys en tu proyecto de Supabase)

NEXT_PUBLIC_SUPABASE_URL=https://rrzlurhjceugpccpbzhy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_I3fpw_NlQrvF1dqouyjaCQ_kNBwB6GT
